---
import { useTranslations } from '../i18n/utils';
import type { Lang } from '../i18n/ui';

interface Props { lang: Lang; }
const { lang } = Astro.props;
const t = useTranslations(lang);
---
<footer class="footer">
  <span class="footer-cmd">{t('footer.cmd')}</span>
  <span>
    <a href="mailto:efe.kckk@gmail.com">efe.kckk@gmail.com</a>
    &nbsp;·&nbsp;
    <a href="https://www.linkedin.com/in/efecank%C3%BC%C3%A7%C3%BCk/">LinkedIn</a>
    &nbsp;·&nbsp;
    <a href="https://github.com/efekckk">GitHub</a>
  </span>
</footer>
